.neon-box{
    animation: flicker-box 1s infinite alternate;  
    width: 325px;
    height: 250px;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 5px solid var(--background-color-light-2);
    position: relative;
    transform:
              rotateX(var(--rotateX))
              rotateY(var(--rotateY));
              display: flex;
              align-items: center;
              justify-content: center;
    backdrop-filter: blur(3px);
    align-self: center;
    justify-self: center;
}

.neonText{
  color: var(--text-color);
  font-family: 'JetBrains Mono', normal;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@keyframes flicker-box {    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
      0 0 4px var(--background-color-light-2),
      0 0 12px var(--background-color-light-2),
      inset 0 0 4px var(--background-color-light-2),
      inset 0 0 11px var(--background-color-light-2);
    }   
  20%, 24%, 55% {  
      box-shadow: none;
  }      
}
@media only screen and (max-width: 1080px){
    .neon-box{
        transform: rotateX('0 deg')
                   rotateY('0 deg');
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-height:1920px){
  .neon-box{
        transform: rotateX('0 deg')
                   rotateY('0 deg');

  }
}