.home-page{
    padding-top: var(--navbar-height);
    width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects{
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
}

.main-projects{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 950px;
  scroll-margin-top: 85px;
}

.projects-wrapper{
  position: relative;
  height: var(--projects-height);
}

.info-wrapper{
  position: relative;
  height: calc(var(--info-height) + var(--scroller-height));
}

.top-background{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: calc(var(--info-height) + var(--scroller-height));
    background-color: var(--background-color-dark-4);
    -webkit-mask: linear-gradient(white, transparent 95%);;
    mask: linear-gradient(white, transparent 95%);
}

.bot-background {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: var(--projects-height);
    -webkit-mask: linear-gradient(white, transparent 95%);;
    mask: linear-gradient(transparent 5%, var(--background-color-dark-4));
}

@media only screen and (min-height: 1920px){
  .home-page{
    padding-top: calc(var(--navbar-height) * 2);
  }
}