.contact{
  height: 250px;
  background-color: var(--background-color-dark-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 90%;
  align-self: center;
}
.contact > h2{
  font-family: 'JetBrains Mono', normal;
  font-weight: 600;
  font-size: 48px;
  margin: 0;
  padding: 16px 0px;
}
.contact .contact-info{
  font-family: 'JetBrains Mono', normal;
  font-weight: 600;
  font-size: 24px;
  justify-self: flex-end;
  height: 250px;
}
.contact .contact-info:before{
  content: '';
  width: 2px;
  position: absolute;
  height: 205px;
  top: 50%;
  background: var(--background-color-light-2);
  transform: translateY(-50%) translateX(-24px);
  box-shadow: 0px 0px 4px 0px  var(--text-color);
}
.contact .contact-info > h2{
  margin: 0;
  padding: 16px 0px;
  font-size: 32px;
  text-align: justify;
}
.contact .contact-info .link{
  display: flex;
  flex-direction: row;
  text-justify:distribute;
  align-items: center;

}
.contact .contact-info .link a{
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 12px;
  font-size: 16px;
}
.contact .contact-info .link svg{
  padding: 8px 0px;
}
