@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/terminal.css');
:root{
    --navbar-background: #000; /*add #fff*/
    --a-hover-border-bottom: #fff; /*add rgba(155, 92, 72, 1)*/
    --a-hover-text-shadow-color: #ce54ad; /*add none*/
    --mobile-navigation-backgroud: #000; /*add #fff*/
    --mobile-navigation-color: #fff; /*add rgba(155, 92, 72, 1)*/
    --mobile-navigation-ul-background: #000; /*add #fff*/
    --mobile-navigation-a-color: #fff; /*add rgb(53, 48, 37)*/
    --mobile-navigation-a-text-shadow-color: #200d1b /*add none*/;
    --mobile-navigation-a-hover-text-shadow-color: #fff /*add none*/;
}
.NavBar {
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    background: var(--navbar-background);
}


.NavBar .Navigation{
    display: flex;
}

.NavBar .Navigation > .Navigation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    text-decoration: none;
    height: 100%;
    margin-left: 1rem;
}

.NavBar .Navigation .NavLinks{
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    height: 5rem;
}

.NavBar .Navigation .NavLinks ul{
    height: inherit;
    display: flex;
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
.NavBar .Navigation .NavLinks ul li{
    list-style-type: none;
    height: inherit;
    width: 100%;
}
.NavBar .Navigation .NavLinks ul .li-Switch{
    display: block;
    height: inherit;
    width: 50%;
}
.NavBar .MobileNavigation .NavLinks ul .li-Switch{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBar .Navigation .NavLinks ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-decoration: none;
    height: 5rem;
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
}

:is(.NavBar .Navigation .NavLinks ul li a, .Switch){
    background-color: var(--navbar-background);
    color: var(--mobile-navigation-a-color);
    text-shadow: 0px 0px 20px var(--mobile-navigation-a-text-shadow-color);
}
.Switch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    text-decoration: none;
    height: 5rem;

}

.NavBar .Navigation a:hover{
    border-bottom: var(--a-hover-border-bottom) solid;
    text-shadow: 0px 0px 20px var(--a-hover-text-shadow-color);
}

.NavBar .Navigation p{
    font-family: 'Righteous';
    font-weight: 100;
    transform: scale(1.1, 1.2);
}

.NavBar .MobileNavigation {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    position: fixed;
    display: none;
}

.NavBar .MobileNavigation {
    background: var(--mobile-navigation-background);
}

.NavBar .MobileNavigation > .MobileNavigation-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    text-decoration: none;
    height: 5rem;
}

.NavBar .MobileNavigation > .MobileNavigation-icon{
    color: var(--mobile-navigation-color);
}

.NavBar .MobileNavigation ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.NavBar .MobileNavigation ul{
    background-color: var(--mobile-navigation-ul-background);
}

.NavBar .MobileNavigation ul li {
    display: inline-block;
    height: 5rem;
    margin-bottom: 3px;
  }
  
.NavBar .MobileNavigation ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: 5rem;
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
}

.NavBar .MobileNavigation ul li a{
    background-color: var(--mobile-navigation-background);
    color: var(--mobile-navigation-a-color);
    text-shadow: 0px 0px 20px var(--mobile-navigation-a-text-shadow-color);
}

.NavBar .MobileNavigation a:hover{
    border-bottom: var(--a-hover-border-bottom) solid;
    text-shadow: 0px 0px 20px var(--mobile-navigation-a-hover-text-shadow-color);
}

.NavBar .MobileNavigation p{
    font-family: 'Righteous';
    font-weight: 100;
    transform: scale(1.1, 1.2);
}

.gg-terminal{
    transform: scale(3);
    color: var(--a-hover-border-bottom);
    box-shadow: inset 0px 0px 5px 2px var(--mobile-navigation-a-text-shadow-color),
                0px 0px 5px 2px var(--mobile-navigation-a-text-shadow-color);
}
.gg-menu{
    transform: scale(3);
    color: var(--a-hover-border-bottom);
}

@media only screen and (max-width: 1080px){
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation{
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .MobileNavigation-icon{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .NavBar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 30%;
    }
}