.NavBar {
    width: 100%;
    height: calc(var(--navbar-height));
    position: fixed;
    z-index: 9999;
    background: var(--background-color-dark-4);
    animation: change-opacity-navbar linear forwards;
    animation-timeline: scroll();
    animation-range-start: 80px;
    opacity: 1;
}

@keyframes change-opacity-navbar{
    0% {
        background: var(--background-color-dark-4);
    }
    10%, 100% {
        background: var(--background-color-dark-4-95);
        backdrop-filter: blur(3px);
    }
}

.Navigation-icon svg{
    text-decoration: none;
    color: var(--text-color);
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.Navigation .NavLinks{
    width: 775px;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    margin-right: 20px;
}

.Navigation .NavLinks ul{
    height: 80px;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
.Navigation .NavLinks ul li{
    position: relative;
    list-style-type: none;
    height: 80px;
    width: 100%;
}

.Navigation .NavLinks ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-decoration: none;
    font-family: 'JetBrains Mono', normal;
    font-weight: 400;
    font-size: 32px;
    padding: 16px 16px;
    color: var(--text-color);
}

.Navigation ul li ::before{
    width: 90%;
    height: 2px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color-light-2);
}

.Navigation ul li:hover ::before{
    width: 100%;
    animation: flicker-box 1s infinite;
}

.MobileNavigation {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(var(--navbar-height));
    position: fixed;
    display: none;
}

.MobileNavigation-icon{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    text-decoration: none;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    right: 0;
    color: var(--text-color);
}

.MobileNavigation ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    background-color: var(--background-color-dark-4);
}

.MobileNavigation ul li {
    display: inline-block;
    height: calc(var(--navbar-height));
}
  
.MobileNavigation ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-family: 'JetBrains Mono', normal;
    font-weight: 400;
    height: calc(var(--navbar-height));
    font-size: 32px;
    color: var(--text-color);
}

.MobileNavigation a:hover{
    border-bottom: var(--background-color-light-2) solid;
}

@media only screen and (max-width: 1080px){

    .NavBar .Navigation {
        display: none;
    }

    .MobileNavigation{
        display: flex;
        align-items: center;
    }

    .NavBar nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(var(--navbar-height));
        right: 0;
        width: 30%;
    }
}

@media only screen and (min-height: 1920px){
    .NavBar{
        height: calc(var(--navbar-height) * 2);
    }
    .MobileNavigation{
        height: calc(var(--navbar-height) * 2);
    }
    .MobileNavigation ul li {
        height: calc(var(--navbar-height) * 2);
    }
    .MobileNavigation ul li a{
        height: calc(var(--navbar-height) * 2);
    }
    .MobileNavigation-icon{
        width: 120px;
        height: 120px;
    }
    .NavBar nav ul{
        top: calc(var(--navbar-height) * 2);
    }
}