:root{
    --background-color-dark-2: hsl(0, 0%, 2%);
    --background-color-dark-2-50: hsla(0, 0%, 2%, 0.5);
    --background-color-dark-4: hsl(0, 0%, 4%);
    --background-color-dark-4-50: hsla(0, 0%, 4%, 0.5);
    --background-color-dark-4-95: hsla(0, 0%, 4%, 0.95);
    --background-color-dark-6: hsl(0, 0%, 6%);
    --background-color-dark-80-20: hsla(0, 0%, 80%, 20%);
    --background-color-light-2: hsl(300, 20%, 98%);

    --text-color: hsl(300, 20%, 98%);

    --projects-height: 0px;
    --info-height: 0px;
    --scroller-height: 0px;
    --rotateX: 0 deg;
    --rotateY: 0 deg;
    --navbar-height: 80px;
}

body{
    margin: 0;
    padding: 0;
    background: none;
    background: var(--background-color-dark-4);
    overflow-x: clip;
}

*, html {
    scroll-behavior: smooth !important;
}