.slider {
    width: 100%;
    height: 640px;
    margin: 0px;
    margin-top: 20px;
    grid-area: 1 / 1 / 1 / 2;
}
.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    overflow: hidden;
    background: var(--slide-background);
}
.slide span {
    position: absolute;
    display: block;
}

.slide span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent 0%, var(--slide-span-background-1) 33%, var(--slide-span-background-2) 66%, var(--slide-span-background-3) 100%);
    animation: animate1 16s linear infinite;
}
@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.slide span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, var(--slide-span-background-1) 33%, var(--slide-span-background-2) 66%, var(--slide-span-background-3) 100%);
    animation: animate2 16s linear 4s infinite;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.slide span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent 0%, var(--slide-span-background-1) 33%, var(--slide-span-background-2) 66%, var(--slide-span-background-3) 100%);
    animation: animate3 16s linear 8s infinite;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.slide span:nth-child(4) {
    bottom: 50%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent 0%, var(--slide-span-background-1) 33%, var(--slide-span-background-2) 66%, var(--slide-span-background-3) 100%);
    animation: animate4 16s linear 12s infinite,
    animate45 12s linear;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
@keyframes animate45 {
    0% {
        bottom: 0%;
    }
    50%,
    100%{
        bottom: 150%;
    }
}
.sliderContainer {
    height: 100%;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.leftArrow {
    font-family: 'Righteous';
    font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1.1, 1.2);
    left: 16px;
    font-size: 60px;
    color: var(--neon_border-color);
    z-index: 1;
    cursor: pointer;
}
.leftArrow:hover{
    left: 14px;
}
.rightArrow:hover{
    right: 14px;
}
.rightArrow {
    font-family: 'Righteous';
    font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1.1, 1.2);
    right: 16px;
    font-size: 60px;
    color: var(--neon_border-color);
    z-index: 1;
    cursor: pointer;
}
.dotsContainer {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0 3px;
    cursor: pointer;
    font-size: 40px;
    color: var(--slide-span-background-3);
}

.dots.active{
    color: white;
}

.slide .content{
    height: inherit;
    width: inherit;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.content img{
    width: 90%;
    height: 90%;
    grid-area: 1 / 1 / 1 / 2;
    position: absolute;
    left: 60px;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 5px 1px var(--projects-img-box-shadow);
}
.content .description{
    width: calc(100% - 60px);
    height: 100%;
    position: absolute;
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 19fr;
}

.content .description::after{
    content: '';
    height: 80%;
    width: 5px;
    background: linear-gradient(360deg, transparent 0%, var(--slide-span-background-1) 33%, var(--slide-span-background-2) 66%, var(--slide-span-background-3) 100%);
    position: absolute;
    left:-5px;
    transform: translateY(15%);
}
.slide .content h2{
    margin: 0;
    padding: 0;
    grid-area: 1 / 1 / 1 / 2;
    text-align: center;
    font-family: 'Bungee Hairline';
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 35px;
}
.slide .content p{
    grid-area: 2 / 1 / 2 / 1;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Lucida Console';
    font-size: 1.2rem;
    line-height: 1.3;
    overflow-y: scroll;

}

@media only screen and (max-width: 1080px){
    .slide .content{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }
    .content img{
        grid-area: 1 / 1 / 2 / 1;
        width: 85%;
    }

    .content .description{
        grid-area: 2 / 1 / 2 / 1;
        width: calc(85%);
        align-self: center;
        justify-self: center;
    }
}