.slider {
    width: 100%;
    height: 900px;
    animation: change-opacity linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: contain -150px;
}

@keyframes change-opacity{
    from{ opacity: 0}
    to { opacity: 1}
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    overflow: hidden;
}

.sliderContainer {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.index-container {
    position: absolute;
    right: 48px;
    color: var(--text-color);
    z-index: 1;
    height: 200px;
    top:50%;
    transform: translateY(-50%);
}
.index-container .index{
    cursor: pointer;
    font-family: "JetBrains Mono";
    font-weight: 200;
    font-size: 24px;
    position: relative;
    color: var(--text-color);
}
.index-container .index::before{
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    top: calc(50% - 2px);
    right: 40px;
    background: var(--background-color-light-2);
    opacity: 0;
    transition: 0.25s ease-in;
}
.index-container .index.active::before{
    opacity: 1;
    width: 48px;
}
.index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.slide .content{
    height: inherit;
    width: inherit;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.content img{
    width: 100%;
    height: 900px;
    grid-area: 1 / 1 / 3 / 3;
    position: absolute;
    object-fit: fill;
    box-shadow: 0px 0px 5px 1px var(--projects-img-box-shadow);
    opacity: 0;
    -webkit-mask: linear-gradient(90deg, white 45%, transparent);
    mask: linear-gradient(90deg, white 45%, transparent);
    transition: opacity 0.2s ease-in;
}

.content img.active{
    opacity: 1;
}

.content .description{
    height: 100%;
    width: 120%;
    right: 0;
    position: absolute;
    grid-area: 1 / 2 / 1 / 2;
}

.slide .description h1{
    margin: 0;
    padding: 0;
    grid-area: 1 / 1 / 1 / 2;
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 48px;
    padding: 24px;
}

.divider{
    width: 90%;
    height: 2px;
    background-color: var(--background-color-light-2);
    align-self: center;
    margin: 0px 0px 48px 0px;
    animation: flicker-box 2s infinite;
}

@media only screen and (max-width: 1080px){
    .slide .content{
        grid-template-columns: 2fr 1fr;
    }
    .content img{
        -webkit-mask: linear-gradient(90deg, white 1%, transparent);
        mask: linear-gradient(90deg, white 1%, transparent);
    }
}